@font-face {
    font-family: "Sora";
    font-weight: 100 800;
    src: url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "inter";
    font-weight: 100 900;
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}